---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/search/movie?api_key=<HIDE_YO_KEYS>&query=NonExistentMovie
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - MISS, STORE
      X-Memc-Key:
      - e8fdb748d9f4f89c80a05a0aff4adf96
      X-Memc-Age:
      - '0'
      X-Memc-Expires:
      - '26443'
      Etag:
      - W/"0e23279b004381f72a34159d5c7dfd1f"
    body:
      encoding: UTF-8
      string: '{"page":1,"results":[],"total_pages":1,"total_results":0}'
  recorded_at: Fri, 28 Mar 2025 07:12:48 GMT
recorded_with: VCR 6.3.1
